header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background-color: white;
}

.header-container {
  display: flex;
  margin-top: 1em;
  margin-bottom: 10px;

  .title {
    width: 125px;
    height: 50px;
    line-height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  .searchBar {
    margin: 5px auto 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .btn {
      margin-left: 20px;
    }
  }

  input {
    width: 30em;
    border-radius: 3rem;
    height: 40px;
  }

  .logo {
    width: 50px;
    margin-left: 1em;
  }
}

.nav-container {
  display: flex;
  margin-top: 0.75em;
  width: 100%;
  background-color: aqua;
  font-size: 1.4em;
  align-items: center;
  height: 2em;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);

  a,
  .option {
    text-decoration: none;
    margin: 0 1em;
    color: white;
    text-transform: uppercase;
    transition: all 0.3s linear;
    cursor: pointer;
    &:hover {
      color: gray;
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
  .menu {
    display: flex;
  }
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .login {
    margin-left: auto;
  }
  .cart {
    font-size: 1.2em;
    margin: 0px;
    transition: all 0.3s linear;
    &:hover {
      color: gray;
    }
  }
  .amount {
    font-size: 1.2em;

    margin-left: 0.2em;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    align-items: center;
    height: 2em;
    padding-top: 1px;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      justify-content: space-between;
    }

    .list1 {
      display: block;
      background-color: #00ffff;
      line-height: 200%;
      text-align: left;
      width: 100%;
      order: 3;
      z-index: 2;
    }
    .show-links {
      display: none;
    }
    .list1 {
      transition: all 0.3s linear;
      &:hover {
        padding-left: 0.5rem;
      }
    }
    .option {
      padding-top: 10px;
    }

    .icon {
      font-size: 1.2em;
    }

    .hamburger {
      display: flex;
      font-size: 1.5em;
      color: white;
      margin-left: 20px;
      // display: block;
      &:hover {
        color: gray;
      }
    }
  }
}
