header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background-color: white;
}

.header-container {
  display: flex;
  margin-top: 1em;
  margin-bottom: 10px;

  .title {
    width: 125px;
    height: 50px;
    line-height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  .logo {
    width: 50px;
    margin-left: 1em;
  }
}

.nav-container {
  display: flex;
  margin-top: 0.75em;
  width: 100%;
  background-color: aqua;
  font-size: 1.4em;
  height: 2em;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);

  .list2 {
    display: flex;
  }

  a,
  .option {
    text-decoration: none;
    margin: 0 1em;
    color: white;
    text-transform: uppercase;
    transition: all 0.3s linear;
    cursor: pointer;
    &:hover {
      color: gray;
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
  .menu {
    display: flex;
  }
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .login {
    margin-left: auto;
  }
  .cart {
    margin: 0px;
    transition: all 0.3s linear;
    &:hover {
      color: gray;
    }
  }
  .amount {
    font-size: 1.2em;
    margin-left: 0.2em;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
    display: flex;
    margin-top: 0;
    align-items: center;
    height: auto;
    padding-top: 1px;

    ul {
      flex-wrap: wrap;
      margin-top: auto;
      margin-bottom: auto;
      padding-left: 0;
      justify-content: space-between;
      line-height: 20px;
      height: 2em;
    }

    .list2 {
      position: absolute;
      top: 124px;
      display: flex;
      flex-direction: column;
      order: 3;
      align-items: center;
      width: 40%;
      flex-wrap: wrap;
      left: -100%;
      transition: all 0.3s linear;
    }

    .list1 {
      background-color: #00ffff;
      line-height: 200%;
      text-align: left;
      width: 100%;
      transition: all 0.3s linear;
      z-index: 2;
      &:hover {
        padding-left: 0.5rem;
      }
    }

    .show-links {
      left: 0%;
    }

    .icon {
      font-size: 1.2em;
    }
    .about {
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
    }

    .hamburger {
      display: flex;
      font-size: 1.5em;
      color: white;
      margin-left: 20px;
      &:hover {
        color: gray;
      }
    }
  }
}
